services:
  - type: web
    name: sentinel-api
    env: docker
    dockerfilePath: ./backend/Dockerfile
    dockerContext: .
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: PORT
        value: 8000
      - key: CUDA_VISIBLE_DEVICES
        value: -1
      - key: TF_CPP_MIN_LOG_LEVEL
        value: 2
      - key: TF_FORCE_GPU_ALLOW_GROWTH
        value: "true"
      - key: TF_XLA_FLAGS
        value: "--tf_xla_cpu_global_jit=false"
      - key: TF_DISABLE_XLA
        value: "1"
